*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#cms{
    width:100%;
    background-color: #fff;
    min-height: 100vh;
    .logout{
        position: absolute;
        top: 75px;
        right:30px;
        width:80px;
        height: 35px;
        font-size: 13px;
        text-decoration: none;
        color:#fff;
    }
    .goback{
        position: absolute;
        top: 30px;
        right:30px;
        width:80px;
        height: 35px;
        font-size: 13px;
        text-decoration: none;
        color:#fff;
    }
    >.center{
        max-width:1200px;
        margin:0 auto;
        height: 100%;
        box-shadow: 0 5px 5px #ccc;
        >.header{
            width:100%;
            height: 100px;
            text-align: center;
            color:#BF3334;
            line-height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            >h2{
                font-size: 26px;
                font-weight: 700;
            }
        }
        >.content{
            width:100%;
            background-color: #FFFFF5;
            display: flex;
            padding: 20px 0 30px;
            >.left{
                width:50%;
                padding: 16px;
                >select{
                    width:95%;
                    margin-bottom: 15px;
                }
                >.list{
                    display: flex;
                    flex-direction: column;
                    width:95%;
                    height: 500px;
                    overflow-y: scroll;
                    background-color: #fff;
                    border:1px #ccc solid;
                    border-radius: 6px;
                    &.totalList{
                        display: none;
                    }
                    >.item{
                        width:100%;
                        padding:9px 12px;
                        border-bottom: 1px #ccc solid;
                    }
                }
            }
            >.right{
                width:50%;
                >.choose{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding:  16px 0;
                    padding-right:  16px ;
                    >select{
                        width:150px;
                        font-size: 15px;
                    }
                    >button{
                        width:150px;
                    }
                }
                >.list{
                    display: flex;
                    flex-direction: column;
                    width:95%;
                    height: 500px;
                    overflow-y: scroll;
                    background-color: #fff;
                    border:1px #ccc solid;
                    border-radius: 6px;
                    >div{
                        width:100%;
                        padding:3px 12px;
                        font-weight: 700px;
                    }
                }
            }
        }
        >.bottom{
            width:100%;
            background-color: #FFFFF5;
            padding: 10px 20px 20px;
           
            >p{
                margin:0;
                padding: 0;
                margin:3px 0;
                &.scoreView{
                    cursor: pointer;
                }
            }
        }
        >.list-table{
            width:100%;
            font-weight: 100;
        }
    }
    .sidebar{
    }
    footer{
        width:100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f1f1f1;
        color:#5E7380;
        a{
            margin:0;
            padding: 0;
            font-weight: 600;
            color:#5E7380;
            text-decoration: none;
        }
    }
    .scoreModal{
        width:100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left:0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        >.scoreModalback{
            position: absolute;
            top: 0;
            left:0;
            width:100%;
            height: 100vh;
            background-color: rgba(0,0,0,.5);
        }
        >.content{
            width:400px;
            height: 500px;
            background-color: #fff;
            z-index: 999;
            
            >.header{
                width:100%;
                height: 40px;
                color:#fff;
                background-color:rgba(0, 124, 37, 0.692);
                text-align: center;
                line-height: 40px;
            }
            ul{
                overflow-y: scroll;
                height: 450px;
                width:100%;
            }
        }
    }
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination button, .pagination select {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
}

.pagination button:hover, .pagination select:hover {
    background-color: #eee;
}

.pagination select {
    padding: 5px;
}